<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
        <hr>
        <% perguntas.forEach((perg) => { %>
            <br>
            <div class="card">
                <div class="card-body">
                  <h3><%= perg.titulo %></h3>  
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= perg.id %> ">
                        <button class="btn-success">Responder</button>
                    </a>
                </div>
            </div> 
         <% }) %>
    </div>
</body>
<%- include ('partials/footer.ejs') %>
